<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reqeust Header Microservice<</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Reqeust Header Microservice</h1>
      <hr />
    </header>
    <main class="container">
      <h3>Usage example:</h3>
      <div class="api-example">
        <div class="end-point">
          project_url<a href="api/whoami">/api/whoami</a>
        </div>
        <div class="output">
          <p>
            Output:
            <code
              >{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br />"software":"Mozilla/5.0
              (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101
              Firefox/50.0"}</code
            >
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
